﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/admin.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 header">
                <div class="col-md-10 col-sm-10 col-lg-10">
                    <img class="logo-img" src="~/Content/img/ico/browser.png" />
                    <span class="logo-text">Visitor <span class="logo-text-bold">Registration System</span></span>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2">
                    @Html.ActionLink("Logout", "Logout", null, new { @class = "btn btn-primary logout-button" })
                </div>
            </div>
            <div class="col-md-12 nav-wrapper">
                <ul class="navig-bar">
                    <li>@Html.ActionLink("Visits list", "MainPage", null, new { @class = "link" })</li>
                    <li>@Html.ActionLink("Admins list", "AdminList", null, new { @class = "link" })</li>
                    <li>@Html.ActionLink("Employees list", "EmployeeList", null, new { @class = "link" })</li>
                    <li>@Html.ActionLink("Visitors List", "VisitorList", null, new { @class = "link" })</li>
                </ul>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12 content">
                @RenderBody()
            </div>
        </div>

        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
