﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.DescriptionContent" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link href="https://fonts.googleapis.com/css?family=Jura|Neucha" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container">

        @RenderSection("Body")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
