﻿@model VisitorRegisrationSystemServer.Models.ReportEntity

@using (Html.BeginForm("GenerateReport", "Admin", FormMethod.Post, new { @id = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-offset-1"></div>

        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-2" style="text-align:center;">
            <input type="button" value="Generate Report" class="btn btn-primary" id="BTN" />
        </div>
    </div>
}


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

<script>

    $(function () {

        $("#BTN").click(function (e) {

            e.preventDefault();
            var _this = $(this);
            var _form = _this.closest("form");

            var isvalid = _form.valid();  // Tells whether the form is valid

            if (isvalid) {
                _form.submit();
            }

        });

    });

</script>
