﻿@model IEnumerable<VisitorRegistrationSystem.BLL.DTO.AdminDTO>

@{
    ViewBag.Title = "Visitor Registration System | Admin List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Admins List</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create Admin or Moderator", "CreateAdmin", null, new { @class = "btn btn-primary default-button" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessLevel)
        </td>
        @if (User.IsInRole("Admin"))
        {
            if (!(item.Login == "admin"))
            {
                <td class="edit-section">
                    @Html.ActionLink("Edit", "EditAdmin", new { id = item.Id }) |
                    @Html.ActionLink("Details", "DetailsAdmin", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteAdmin", new { id = item.Id })
                </td>
            }
            else
            {
                <td></td>
            }
        }
    </tr>
    }

</table>
