﻿@using VisitorRegisrationSystemServer.Models
@model IEnumerable<VisitorRegisrationSystemServer.Models.VisitViewModelPanel>

@{
    ViewBag.Title = "Visitor Registration System | Visit List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Visit List</h2>

<a class="btn btn-primary default-button" onclick="showReportBlockFunction()">Report</a>
@Html.ActionLink("Create Visit", "CreateVisit", null, new { @class = "btn btn-primary default-button" })

<div class="col-md-12" id="report-block">
    @Html.Partial("_ReportPartialView", new ReportEntity() { StartDate = ViewBag.StartDate, EndDate = ViewBag.EndDate })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitorBadge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorBadge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutTime)
            </td>
            <td class="edit-section">
                @Html.ActionLink("Edit", "EditVisit", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsVisit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteVisit", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section Scripts
{
    <script type="text/javascript">

        function showReportBlockFunction() {
            let block = document.getElementById("report-block").style.display;

            if (block == "block") {
                document.getElementById("report-block").style.display = "none";
            } else {
                document.getElementById("report-block").style.display = "block";
            }
        }

    </script>
}