﻿@model IEnumerable<VisitorRegisrationSystemServer.Models.VisitorViewModel>

@{
    ViewBag.Title = "Visitor Registration System | Visitor List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Visitor List</h2>

@*<p>
    @Html.ActionLink("Create new Visitor", "CreateVisitor", null, new { @class = "btn btn-primary default-button" })
</p>*@

<table class="table" style="margin-top: 70px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BadgeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOutTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BadgeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td class="edit-section">
            @Html.ActionLink("Edit", "EditVisitor", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsVisitor", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteVisitor", new { id=item.Id })
        </td>
    </tr>
}

</table>
